<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Movie Theater</title>
        <link rel="stylesheet" href="/main.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    </head>
    <body>
        <div id="react"></div>

        <script src="built/bundle.js"></script>
    </body>
</html>
